<div class="row navBar">
  <div class="col col-md-4 col-sm-4 navItem text-center">
    <ul>
      <a class="col-md-3 col-sm-1" onclick="window.location.hash='clothes'; "><li>Ropa</li></a>
      <a class="col-md-3 col-sm-1" onclick="window.location.hash='art'; "><li>Arte</li></a>
      <a class="col-md-3 col-sm-1" onclick="window.location.hash='photos'; "><li>Fotografía</li></a>
    </ul>
  </div>
  <div class="col col-md-4 navItem text-center ">
    <span class="navBar-name ">HIGH SUCCESS</span>
  </div>
  <div class="row col-md-4 navItem mr-4 ">
    <div class="col-md-5">
      <mat-form-field>
        <mat-label style="color: #00000035">Buscar</mat-label>
        <input type="search" matInput placeholder="Qué estás buscando?">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-md-2 navBar-Cart">
      <mat-icon  mat-list-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
    </div>
    <div class="col-md-5">
      <button mat-flat-button color="primary" class="navBar-button"><span class="material-icons">account_circle</span>&nbsp;&nbsp;Log In</button>
    </div>
  </div>
</div>
